body {
    overflow: hidden;
    background-image: url(bckgd.jpg);
    background-size: contain;
    background-color: #cccccc;
    width: 750px;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}

#endGameMessage {
    position: absolute;
    text-align: center;
    top: 40px;
}

#startGame {
    position: absolute;
    top: 100px;
    width: 160px;
    font-size: 20px;
    left: 25px;
}

#btnOnOff {
    width: 25px;
    position: absolute;
    height: 30px;
    top: 360px;
    left: 275px;
}

#resetBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 360px;
    left: 310px;
}

#moveUp {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 370px;
    left: 220px;
}

#moveDown {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 430px;
    left: 220px;
}

#moveRight {
    width: 30px;
    height: 40px;
    position: absolute;
    top: 390px;
    left: 270px;
}

#moveLeft {
    width: 30px;
    height: 40px;
    position: absolute;
    top: 390px;
    left: 180px;
}

#miniGame {
    background-image: url(mingame.png);
    background-size: contain;
    position: relative;
    width: 650px;
    height: 750px;
    margin: 0 auto;
    top: -30px;
}

#snake {
    border: 2px solid black;
    height: 15px;
    width: 15px;
    opacity: 45%;
    box-sizing: border-box;
    position: absolute;
}

#randomPoint {
    border: 2px solid black;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: black;
    opacity: 45%;
}

#outerBox {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2px;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 50%;
    transform: translateX(40%);
    top: 150px;
    background-color: #4e6a4e;
    opacity: 95%;
}

.tail {
    border: 2px solid black;
    height: 15px;
    width: 15px;
    opacity: 45%;
    box-sizing: border-box;
    position: absolute;
}

#counter {
    position: absolute;
    width: 10px;
    top: 155px;
    left: 380px;
    opacity: 45%;
    font-size: 10px;
    text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    #miniGame {
        background-size: 1650px;
        width: 1110px;
        height: 1570px;
        margin: 0 auto;
        top: -50px;
        left: -400px;
    }
    #outerBox {
        height: 520px;
        width: 520px;
        position: absolute;
        right: 20%;
        transform: translateX(28%);
        top: 23.8%;
    }
    #moveUp {
        width: 60px;
        height: 60px;
        top: 950px;
        left: 575px;
    }
    #moveDown {
        width: 60px;
        height: 60px;
        top: 1100px;
        left: 575px;
    }
    #moveRight {
        width: 60px;
        height: 60px;
        top: 1020px;
        left: 660px
    }
    #moveLeft {
        width: 60px;
        height: 60px;
        top: 1020px;
        left: 500px;
    }
    #counter {
        width: 25px;
        top: 380px;
        left: 980px;
        opacity: 45%;
        height: 10px;
        font-size: 35px;
    }
    #btnOnOff {
        width: 65px;
        height: 60px;
        top: 920px;
        left: 695px;
    }
    #startGame {
        top: 210px;
        width: 320px;
        font-size: 40px;
        left: 105px;
    }
    #resetBtn {
        width: 60px;
        height: 60px;
        top: 920px;
        left: 800px;
    }

    #endGameMessage {
        top: 70px;
        font-size: 50px;
    }